<div class="card container article">
  <div class="card-content">
    <div class="title is-2">
      <%= article.emoji %> <span class="is-size-3 article-title"><%= article.title %></span>
    </div>
    <div class="content">
      <%= sanitize article.parsed_body, tags: %w(table thead tbody td th tr p ul ol li h1 h2 h3 h4 h5 h6 h7 code em a) %>
    </div>
    <div class="article-details has-text-grey">
      <div class="article-detail">
        <span class="icon is-small"><%= fa_icon "clock-o" %></span>
        <span class="article-detail-label">
          <%= distance_of_time_in_words_to_now article.publish_date %> ago
        </span>
      </div>
      <% unless article.location.blank? %>
        <div class="article-detail">
          <span class="icon is-small"><%= fa_icon "map-marker" %></span>
          <span class="article-detail-label">
            <%=  article.location %>
          </span>
        </div>
      <% end %>
      <% unless article.source.blank? %>
        <div class="article-detail">
          <span class="icon is-small"><%= fa_icon "link" %></span>
          <span class="article-detail-label">
            <%=  article.source %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>