<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ernst Rullmann</title>
    <meta name="description" content="I am a skilled full stack developer with over four years hands-on experience in developing, deploying, maintaining and securing REST API servers, Javascript single-page applications, mobile apps, and CI/CD systems.">
    <meta name="keywords" content="Ruby, Rails, Javascript, Angular, Software Developer, Developer">
    <meta name="author" content="Ernst Rullmann">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/favicon" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="columns">
    <div class="column is-half container">
      <%= render "layouts/navbar" %>

      <% unless notice.blank? %>
        <p class="notification is-success"><%= notice %></p>
      <% end %>
      <% unless alert.blank? %>
        <p class="notification is-warning"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>


  </div>

  <div class="footer columns">
    <div class="container column is-half">
      &#9400; <%= Time.now.strftime('%Y') %> Ernst Rullmann
      <br/>
      <% if admin_signed_in? %>
        <%= link_to('Logout', destroy_admin_session_path, method: :delete, class: "login-link") %>
      <% else %>
        <%= link_to 'Login', new_admin_session_path, class: "login-link" %>
      <% end %>
    </div>
  </div>
  </body>
</html>
